*{
  margin: 0px;
  padding: 0px;
}
h1{
  position: absolute;
  top: 10vh;
  color: rgba(236, 9, 236, 0.877);
  font-weight: 900;
  border: 2px solid rgb(0, 255, 191);
  width: 40vh;
  font-family: fantasy;
}
h2{
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #04AA6D;
  font-weight: 900;
  font-family: fantasy;
  border: 2px solid rgb(0, 255, 191);
  width: 40vh;
}
.controller{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  background-color: rgba(176, 226, 193, 0.753);
  width: 30vh;
  height: 40vh;
  border: 5px solid greenyellow;
  border-radius: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #0d6b97;

}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}